<div class="container mt-3">
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md">
			<a href="/add" class="btn btn-success mb-2">Add New</a>
			<table class="table">
				<thead>
					<tr class="text-center">
						<th scope="col">No</th>
						<th scope="col">Aktifitas</th>
						<th scope="col">Status</th>
						<th scope="col">Actions</th>
					</tr>
				</thead>
				<tbody>
					<% list.forEach((el,index) =>{ %> <% index++ %>
					<tr>
						<th scope="row" class="text-center"><%= index %></th>
						<td><%= el["dataValues"].activities %></td>
						<% if (el["dataValues"].status == true) { %>
						<td class="text-center">Selesai</td>

						<% } else {%>
						<td class="text-center">Belum Selesai</td>
						<% } %>
						<td>
							<a href="" class="btn btn-info badge text-center ms-2 d-inline">Edit</a>
							<a href="" class="btn btn-danger badge text-center d-inline">Delete</a>
						</td>
					</tr>
					<% }) %>
				</tbody>
			</table>
		</div>
		<div class="col-md-2"></div>
	</div>
</div>
